@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ====== radio button styles STARTS ====== */

  .radio-wrapper {
    display: block;
    position: relative;
    padding-left: 42px;
    margin-bottom: 42px;
    padding-top: 0;
    cursor: pointer;
  }
  .radio-wrapper input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .radio-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 42px;
    width: 42px;
    background: #ffffff;
    border: 2px solid #12579F;
    border-radius: 50%;
  }
  .radio-wrapper:hover input ~ .radio-indicator,
  .radio-wrapper input:focus ~ .radio-indicator {
    background: #cccccc;
  }

  .radio-wrapper input:checked ~ .radio-indicator {
    background: #ffffff;
  }
  .radio-wrapper:hover input:not([disabled]):checked ~ .radio-indicator,
  .radio-wrapper input:checked:focus ~ .radio-indicator {
    background: #0e6647d;
  }
  .radio-wrapper input:disabled ~ .radio-indicator {
    background: #e6e6e6;
    opacity: 1;
    pointer-events: none;
  }
  .radio-indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
  }
  .radio-wrapper input:checked ~ .radio-indicator:after {
    display: block;
  }
  .radio .radio-indicator {
    border-radius: 50%;
  }

  .radio .radio-indicator:after {
    left: 3px;
    top: 3px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: linear-gradient(0deg, #921D80 0%, #9F4EB0 100%);
    transition: background 250ms;
  }
  .radio input:disabled ~ .radio-indicator:after {
    background: #7b7b7b;
  }

  /* ====== radio button styles ENDS ====== */
  /* ====== range input styles STARTS ====== */
  .range {
    background: linear-gradient(to right, transparent 0%, transparent 50%, #C4C4C4 50%, #C4C4C4 100%), linear-gradient(321.96deg, #14539B 10.47%, #115BA3 23.82%, #0B74BA 45.49%, #009BDF 72.83%, #009FE3 74.9%);
    border-radius: 20px;
    height: 28px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }

  /* Special styling for WebKit/Blink */
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: linear-gradient(0deg, #921D80 0%, #9F4EB0 100%);
    cursor: pointer;
  }

  /* All the same stuff for Firefox */
  .range::-moz-range-thumb {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: linear-gradient(0deg, #921D80 0%, #9F4EB0 100%);
    cursor: pointer;
  }

  /* All the same stuff for IE */
  .range::-ms-thumb {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: linear-gradient(0deg, #921D80 0%, #9F4EB0 100%);
    cursor: pointer;
  }

  /* ====== range input styles ENDS ====== */
}